<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config/>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url"
				  value="jdbc:mysql://localhost/testdb?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
		<property name="username" value="root"/>
		<property name="password" value="admin"/>
	</bean>

	<bean id="mybatisdao" class="Spring.Test.jdk.mybatis.myBatisTest$MybatisDao">
		<property name="sqlSession" ref="sqlSession" />
	</bean>

	<!-- SessionFactory는 생성시 최초 1회만 만들어지고 sqlSession을 만든다 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="Spring/Test/jdk/mybatis/mybatis-config.xml"/>
		<property name="mapperLocations" value="Spring/Test/jdk/mybatis/Member.xml"/>
	</bean>

	<!-- sqlSession은 JDBC의 물리적 연결상태가 아닌 논리적으로 연결된 상태를 가진다 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"
		  destroy-method="clearCache">
		<qualifier value="sqlSession"/>
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
</beans>
